{% extends "MyBase.html" %}


{% block content %}



<h3>La clémentine, un hybride de la mandarine

La clémentine est un hybride de la mandarine. Elle doit son nom au frère Clément qui l'aurait créée en 1892 en croisant un mandarinier avec un bigaradier. C'est le professeur Trabut de la société horticole d'Alger qui donna à ce nouveau fruit le nom de « clémentine », en l'honneur de son créateur. Néanmoins, d'après les études chromosomiques de l'Inra, la clémentine est le fruit de la fécondation d'une fleur de mandarinier par du pollen d'orange douce.

Sur le clémentinier, le pollen ne parvient pas à féconder une fleur, bien qu'il ne soit pas stérile. Ainsi, s'il n'y a que des clémentiniers, seules des clémentines sans pépins voient le jour. Pour en obtenir des « pures », il faut donc faire des greffes. En revanche, si le verger de clémentiniers est proche d'autres agrumes, les fleurs peuvent alors être fécondées et donner des clémentines à pépins.</h3>



sur la branche page2





{% endblock content %}

{% block scripts %}
{{ super() }}


{% endblock scripts %}

